@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamBold.ttf') format('woff'),
		 url('../fonts/GothamBook.ttf') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/GothamBook.ttf') format('woff');
	font-weight: normal;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,600&display=swap');
@import "normalize";
@import "layout";
// @import "elements";
@import "slick.scss";

html {
	scroll-behavior: smooth;
}

body{
	font: 400 18px/1.57 "Gotham";
}

h1{
	font: 700 80px/1.57 "Gotham";
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0 0 5px 0;
	color: #fff;
}

h2, h3{
	color: black;
	text-transform: uppercase;
	font: 700 44px/0.5 "Gotham";
	margin: 0;
}

a {
	text-decoration: none;
}

p{
	margin: 0;
}
ul{
	list-style: none;
}
/* Layout */
.ba-container{
	max-width: 1170px;
	margin-left: auto;
   margin-right: auto;
}
.ba-container--small{
	max-width: 770px;
	margin-left: auto;
   margin-right: auto;
}

.ba-simple{
	position: relative;
	background: linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
	&__content{
		
		text-align: center;
		font-size: 18px;
		position: relative;
	}
	&__content p{
		color: #fff;
	}
	&__circles{
		// content: '';
		position: absolute;
		top: -14%;
		right: -15%;
	}
	&__circles-links{
		display: flex;
	}
	&__circles-links--active:before{
		content: '';
		position: absolute;
		width: 8px;
		height: 8px;
		color: #fff;
		border-radius: 50%;
		border: 1px solid #fff;
		background-size: contain;
	}
	&__anchor{
		border-radius: 50%;
		border: 1px solid #fff;
		margin: 0 auto;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		bottom: 5%;
		left: 50%;
		color: #fff;
	}
	
	&__icon{
		margin-top: 5px;
	}
	&__anchor:hover{
		color: hotpink;
		border-color: hotpink;
	}
}
.ba-simple__circles-links + .ba-simple__circles-links{
margin-top: 47px;
}

.ba-simple--cover{
	background: url(../img/bg2.png) no-repeat top center;
	background-size: cover;
	height: 100vh;
	text-transform: uppercase;
	letter-spacing: 5.3px;
	max-width: 100vw;
	display: flex;
	// justify-content: center;
	align-items: center;
	// padding: auto 0;
	// padding-top: 500px;
}

.ba-nav{
	width: 50%;
	&__list{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 30px;
		padding: 0 0 10px;
	}
	&__link{
		font: 400 13px/1.57 "Gotham";
		letter-spacing: -1.5px;
		position: relative;
		text-transform: uppercase;
		
	}
	&__link a{
	color: #fff;
	}
	&__link--active a:before{
		content: '';
		
		width: 8px;
		height: 8px;
		color: #fff;
		border-radius: 50%;
		border: 1px solid #fff;
		background-size: contain;
		background: #fff;
	}
	
	&__link a:before{
		content: '';
		margin-right: 14px;
		width: 8px;
		height: 8px;
		color: #fff;
		border-radius: 50%;
		border: 1px solid #fff;
		background-size: contain;
		display: inline-block;
	}
	&__link a:hover{
		color: hotpink;
		transition: 0.3s;
		&:before{
			background: hotpink;
			border: 1px solid hotpink;
			transition: 0.3s;
		}
	}
	&__link a:not(:hover){
		transition: 0.3s;
		&:before{
			transition: 0.3s;
		}
	}

}

.ba-general-header{
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	left: 0;
}

.ba-header{
	display: flex;
	align-items: center;
   justify-content: space-between;
	padding-top: 65px;
	margin-left: auto;
   margin-right: auto;
	&__social{
		display: flex;
		margin-left: 15px;
		padding-bottom: 10px;
	}
	&__social-links{
		border-radius: 50%;
		border: 1px solid #fff;
		padding: 10px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
   	justify-content: center;
	}
	&__social-links:hover{
		border-color: hotpink;
		transition: 0.3s;
		.ba-social-icon{
			fill:hotpink;
			transition: 0.3s;
		}
		
	}
	&__social-links:not(:hover){
		transition: 0.3s;
		.ba-social-icon{
			transition: 0.3s;
		}
		
	}
}
.ba-header__social-links + .ba-header__social-links{
	margin-left: 21px;
}

.ba-social-icon {
	
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: #fff;
	z-index: 10;
 }

 .what-we-do{
	 color: black;
	 position: relative;
	 margin-top: 80px;
	 margin-bottom: 220px;
	 &__content{
		 display: flex;
	 }
	 &__heading{
		 text-align: center;
		 margin-bottom: 170px;
	 }
	 &__heading svg{
		 margin-bottom: 35px;
	 }
	 &__img-back{
		position: absolute;
		left: 0;
		top: 25%;
		z-index: -1;
	 }
	 &____building{
		 z-index: 1;
	 }
	 &__general-content{
		 padding: 58px 0 0 70px;
	 }
	 &__general-content h3{
		 margin-bottom: 35px;
	 }
	 &__general-content p{
		font: 400 18px/1.67 'Open Sans', sans-serif;
		letter-spacing: 0.15px;
		margin-bottom: 32px;
	}
	&__general-content .ba-button{
		display: inline-block;
		margin-bottom: 58px;
	}
	&__pre-heading{
		display: inline-block;
		text-transform: uppercase;
		font: 400 22px/1.57 "Gotham";
		margin-bottom: 10px;
	}
	&__location{
		display: flex;
		align-items: center;
		& span{
			font: 400 italic 18px/1.57'Open Sans', sans-serif;
			margin-left: 6px;
		}
	}
 }

 .location-marker{
	height: 15px;
	width: 15px;
 }
 .ba-button{
	color: black;
	font: 400 14px/1.57 "Gotham";
	border: 1px solid rgb(14, 13, 13);
	padding: 13px 40px;
	background: transparent;
 }
 .ba-button--big{
	padding: 13px 56px;
 }
 .ba-button:hover{
	border: 1px solid hotpink;
	color: hotpink;
 }



 .commerce-centre{
	position: relative;
	margin-bottom: 150px;
	&__content{
		display: flex;
	}
	&__img-back{
		position: absolute;
		right: 0;
		top: -15%;
		z-index: -1;
	}
	&__pre-heading{
		display: inline-block;
		text-transform: uppercase;
		font: 400 22px/1.57 "Gotham";
		margin-bottom: 10px;
		margin-top: 47px;
	}
	&__general-content{
		padding-right: 40px;
		& h3{
			margin-bottom: 40px;
		}
		& p{
			font: 400 18px/1.67 'Open Sans', sans-serif;
			letter-spacing: 0.15px;
			margin-bottom: 32px;
		}
		& .ba-button{
			display: inline-block;
			margin-bottom: 55px;
		}
	}
	&__location{
		display: flex;
		align-items: center;
		& span{
			font: 400 italic 18px/1.57'Open Sans', sans-serif;
			margin-left: 6px;
		}
	}
 }


 .gallery{
	 margin-bottom: 50px;
	 text-align: center;
	&__heading{
		text-align: center;
		margin-bottom: 105px;
	}
	&__heading svg{
		margin-bottom: 35px;
	}
	&__content{
		display: flex;
		min-height: 440px;
		position: relative;
		margin-bottom: 52px;
	}
	&__content-images-small{
		margin-left: 10px;
	}
	&__content-images-small img:last-child{
		margin-left: 4px;
		margin-top: 2px;
	}
	&__content-360{
		position: absolute;
		top: 40.5%;
		left: 21.5%
	}
 }


 .get-in-touch{
	margin-bottom: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	
	&__content{
		max-width: 770px;
		max-height: 450px;
		position: relative;
		border: 1px solid black;
		padding: 60px 60px 80px 80px;
		font: 400 18px/1.57 "Gotham";

	}
	&__content ul{
		padding: 0;
	}
	&__contacts{
		text-align: left;
	}
	&__contacts a{
		color: black;
	}
	&__contacts a:hover{
		color: hotpink;
	}
	&__contacts li + li{
		margin-top: 30px;
	}
	&__content-img{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}
  &__heading{
	  text-align: center;
	  margin-bottom: 40px;
  }
  &__heading svg{
	  margin-bottom: 25px;
  }
  &__form form{
	  display: flex;
	  flex-direction: column;
	  margin-left: 50px;
  }
  &__label{
	  display: flex;
  }
}

input[name="Mollie"], input[name="Email"]{
	outline: none;
	border: none;
	border-bottom: solid 2px #A5AAB0;
	margin-bottom: 20px;
	padding: 10px 0;
}

input[name="Mollie"]:hover, input[name="Email"]:hover{
	border-bottom: solid 2px black;
	color:black
}

input[name="Mollie"]{
	margin-left: 5px;
}
footer{
	z-index: -2;
	position: relative;
	
}
.ba-footer{
	font: 400 14px/1.57 "Gotham";
	background-image: linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
	position: absolute;
	top: -200px;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	&__social{
		display: flex;
		margin-left: 370px;
		padding-top: 8px;
	}
	&__social a + a{
		margin-left: 20px;
	}
	&__social-links{
		border-radius: 50%;
		border: 1px solid #fff;
		padding: 10px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
   	justify-content: center;
	}
	&__social-links:hover{
		border-color: hotpink;
		transition: 0.3s;
		.ba-social-icon{
			fill:hotpink;
			transition: 0.3s;
		}
		
	}
	&__social-links:not(:hover){
		transition: 0.3s;
		.ba-social-icon{
			transition: 0.3s;
		}
		
	}
}


.ba-footer-cover{
	display: flex;
	
	justify-content: center;
	background: url(../img/sg.png) no-repeat top center;
	background-size: cover;
	padding-top: 200px;
	margin-bottom: 30px;
}
.ba-footer-copyrights{
	color: #fff;
	display: flex;
	margin-bottom: 30px;
	& img{
		width: 15px;
		height: 15px;
		margin: 0 5px;
	}
	& span{
		margin: 0 20px;
	}
}

.dark-backgrould{
	background: linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
}
.ba-logo{
	svg{
		fill:#fff;
	}
	&:hover {
		svg{
			fill:hotpink;
			transition: 0.3s;
		}
	}
}

// .header-box-shadow{
// 	box-shadow: 0px 4px 10px 0px rgba(5, 5, 5, 0.5);
// }
// &__social-links:hover{
// 	.ba-social-icon{
// 		fill:hotpink;
// 		transition: 0.3s;
// 	}